################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/LPRUnitTest/bin/Debug
/LPRUnitTest/obj/Debug
/LicencePlateRecognition/bin/Debug
/LicencePlateRecognition/obj/Debug
/.vs
